.Gmail{float: right; padding: 10px;}
.images{float: right;padding: 10px;}

.img1 img{width: 30px; height: 30px;border-radius: 50%;}
.img2 img{width: 20px; height: 20px;}
.img1{float: right; padding: 5px;margin-top: 18px;}
.img2{float:right; padding: 5px;margin-top: 23px}

input{
    width: 480px;
    height: 30px;
    margin: 25px;
    padding: 5px;
    border: 1px solid rgb(156, 151, 151);
    border-radius: 30px;}


.btn1{
    height: 30px;width: auto;
    color: #a34e4e;
    background: #f2f2f2;
    border: none;
}

.btn2{
    height: 30px;width: auto;
    color: #a84141;
    background: #f2f2f2;
    border: none;
}
.bangla{

}
.container{text-align: center;}
    .googleimg{margin-top: 15%;
        margin-left: 15%;}


    .btn1:hover{color:#373737;
        background: #d3d3d3d3;
    border: 5px solid lightgray;}

    .btn2:hover{color:#373737;
        background: #d3d3d3d3;
    border: 5px solid lightgray;}



    .bangladesh{
        margin-top: 10%;
        padding: 10px;
        background:#d1cacad3 ;
    }
    .t1{float: left;padding: 10px;margin: 5px;}
    .t2{float: left;padding: 10px;margin: 5px;}
    .t3{float: left;padding: 10px;margin: 5px;}
    .t4{float: left;padding: 10px;margin: 5px;}

    .t5{float: right;padding: 10px;margin: 5px;}
    .t6{float: right;padding: 10px;margin: 5px;}
    .t7{float: right;padding: 10px;margin: 5px;}
    

