.main{background-image: url("library.jpg"), linear-gradient(120deg,rgb(23, 99, 143),rgb(27, 108, 110));
    background-blend-mode:soft-light;background-size:contain;
}
.container{
}
.cont{background-color: rgba(35, 44, 58, 0.699);
    color: rgb(229, 238, 229);
    margin-left: 15%;margin-right: 15%;}

.header{text-align: center;color: rgb(230, 243, 230);margin-top:;}

@media (max-width:900px){.cont{margin-left: 5%;margin-right: 5%;}}

.form-group{
padding: 0.50rem;}
.formControl{display: block;
width: 100%; height: 2.35rem;
padding: 0.375rem 0.75rem;color: #495057;
background: #fff;
background-clip: padding-box;
border: 1px solid#ced4da;border-radius: 0.25rem;}

.textarea{width: 100%;
    padding: 0.75rem;
    font-size: 1.15rem;
    border-color: rgb(90, 90, 196);
    border-radius: 5px;
}
.btn2,.btn{
width: 100%;
background: green;}