body{

    background-color: greenyellow;
}
h1{
    text-align:center;
    color:rgb(15, 15, 247);
    font-size:79px;
}
p{
    margin: 25px;
    font-size: 26px;
}
.home{
    position:fixed;
    bottom:7%;
    right:7%;
    border: 2px solid rgb(46, 223, 22);
    border-radius: 5px;
}
