body{
    background-color: rgba(141, 240, 113, 0.808);width:100%;height:100px;
}

h1{
    text-align:center;color:rgb(15, 15, 247)
}

img{
    width:100%;height:100px;
}

.nav{
    background-color:rgb(74, 21, 199);
    columns:5;
    column-gap:1px;
    column-rule:2px solid rgb(132, 238, 100);
    position:sticky;
    font-size:20px;
    top: 1px;
}
a{
    text-decoration: none;color: rgb(21, 191, 243);}
    .nav a:hover{background-color: rgba(42, 231, 52, 0.911);
        color: rgb(204, 27, 204);
        text-decoration: none;
        padding: 0px;
        display: block;}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.img2{
    width:100%;height:700px;
}
.text{
    background-color: rgba(98, 44, 143, 0.897);width: 1225px;float: left; height: 300px;
}



p{font-size: 20px;}
