td{
	border:3px solid #888;
	text-align:center;
	color:#999;
	
	
}
table{
	width:800px;
	height:500px;
	border-collapse:collapse;
	margin:20px auto;
}
h3{
	text-align:center;
}
.color1{background:#7FFFD4}
.color2{background:#ADFF2F}
.color3{background:#FFFF00}
.color4{background:#FFC0CB}
.color5{background:#87CEFA}




td{
	border:3px solid #888;
	text-align:center;
	color:#999;
	
	
}
table{
	width:800px;
	height:500px;
	border-collapse:collapse;
	margin:20px auto;
}
h2{
	text-align:center;
}
.color6{background:#87CEFA}
.color7{background:#1e08e0}
.color8{background:#FFFF00}
.color9{background:#ADFF2F}
.color10{background:#bb6311}
.color11{background:#0fe6d4e8}
.color12{background:#0de20df6}
.color13{background:#FFC0CB}
.color14{background:#e90329e8}
.color15{background:#87CEFA}